.body{
    font-family: 'Inter', sans-serif;
}

.help1
{
    text-align: center;
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: 1780px 1240px;
    
}